DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=

# Konfiguracja ról (można podać wiele ID po przecinku)
ROLES_ZARZAD=
ROLES_URLOP=
ROLES_OCZEKUJACY=
ROLES_KADROWA=
ROLES_DOMYSLNA=
ROLES_PRACOWNICZE=
ROLES_MINUSY=
ROLES_PLUSY=
ROLES_POCHWALY=
ROLES_UPOMNIENIA=

# Konfiguracja kanałów (jedno ID na zmienną)
CHANNELS_ZATRUDNIENIA=
CHANNELS_ZWOLNIENIA=
CHANNELS_AWANSE=
CHANNELS_DEGRADY=
CHANNELS_PLUSY=
CHANNELS_MINUSY=
CHANNELS_ZARZADU=
CHANNELS_WYPLATY=
CHANNELS_URLOPY=
CHANNELS_POCHWALY=
CHANNELS_UPOMNIENIA=
